*{
    margin:0;
    padding: 0;
}

body{
    background: #3a3d47;
    font-family: Verdana;
}

.container{
    width: 1200px;
    background: white;
    margin: 10px auto;
}

.superior{
    background: #1551a1;
    overflow: hidden;
}

.logo{
    float: left;
    width: 300px;
    padding: 25px;
}
/*estilos para el menu de opciones*/
.menu{
    float:left;
    padding: 80px;
}

.opciones li{
    float: left;
    list-style: none;
}

.opciones li a{
    color:white;
    padding: 25px;
    text-decoration: none;
    border: 1px solid white;
}

.opciones li a:hover{
    background: #0f3d79;
}

/*estilos para el cuerpo*/
.cuerpo{
    overflow:hidden;
}
.cuerpootrocolor{
    overflow:hidden;
    background-color: antiquewhite;
}

.parte1{
    float:right;
    margin:20px;
}

.texto1{
    text-align:justify;
    margin: 20px;
    text-indent: 10px;
    line-height: 30px;
}

.parte2{
    float:left;
    margin-top:40px;
    margin-right: 40px;
    padding: 10px 0 50px 200px;
    line-height: 40px;
}

.parte2der{
    float:left;
    text-align:justify;
    margin-top: 40px;
    margin-left: 100px;
    padding: 10px 0 50px 0px;
    line-height: 40px;
}

.titulo{
   text-align: center;
   text-decoration: underline;
   padding: 20px 0 15px 0;
   color: #ff7600;
   font-size: 40px; 
}

.titulo2{
  
    text-align: left;
    text-decoration: underline;
    padding: 20px 0 10px 150px;
    color: #ff7600;
    font-size: 40px; 
}

.texto2{
    text-align:justify;
    margin: 20px;
    text-indent: 10px;
    line-height: 30px;
    margin-left: 150px;
    margin-bottom: 80px;
    margin-right: 20px;
}

blockquote{
    background: rgb(250, 243, 235);
    border-left: 10px solid rgb(245, 200, 142);
    margin-left: 150px;
    margin-bottom: 50px;
    padding: 10px 10px;
    line-height: 30px;

}

/*estilos del footer*/
.pie{
    background: #062348;
    overflow: hidden;
    padding: 20px 0 15px 0;
}

.izquierda{
    float: left;
    width: 550px;
}

.derecha{
    float: left;
    width: 550px;
    padding: 20px;
}

.abajo{
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 10px 0 15px 0;
    
}

.siguenos{
    text-align: center;
    color: white;
    padding: 20px;
}

.redes a:hover{
    background: white;
    padding: 30px 5px 5px 5px;
}
